.b-visual {
    overflow-x: auto;
}

.b-visual__img {
    position: relative;
    display: inline-block;
    @include media-breakpoint-down(lg) {
        &_opacity {
            &:after {
                position: absolute;
                z-index: 999;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
    img {
        object-fit: fill;
        width: var(--width);
        height: var(--height);
        aspect-ratio: var(--width)/var(--height);
        @include media-breakpoint-down(lg) {
            max-width: none;
            &_opacity {
                position: relative;
                &:after {
                    position: absolute;
                    z-index: 999;
                    content: '';
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

}

.b-visual__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.b-visual__link {
    position: relative;
}

.b-visual__contour {
    opacity: 1;
    transition: 0.2s;
    stroke: #3880C4;
    stroke-width: 4px;
    will-change: opacity;
    fill: rgba(56, 128, 196, 0);
    position: relative;
    &:hover {
        fill: rgba(56, 128, 196, 0.8);
    }
}
.b-visual__contour-finished {
    opacity: 0;
    pointer-events: none;
    fill: none;
}

.b-visual__title {
    font-weight: 500;
    font-size: rem(35px);
    margin-bottom: g(10);
}

.b-visual__add {
    z-index: 100;
    position: absolute;
    left: calc((var(--left, 15px) + 20) * 1px);
    top: calc(var(--top, 15px) * 1px);
    pointer-events: none;
}
.b-visual__add-left {
    z-index: 100;
    position: absolute;
    left: calc((var(--left, 15px) - 20) * 1px);
    top: calc(var(--top, 15px) * 1px);
    pointer-events: none;
    transform: translate(-100%, 0);
}

.b-visual__add-item {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding: g(6);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: g(8);
    @include media-breakpoint-down(lg) {
        background: #FFFFFF;
        padding: g(10);
    }
}
.b-visual__add-title {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    @include media-breakpoint-down(lg) {
        color: #131313;
    }
}
.b-visual__deadline-start {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    @include media-breakpoint-down(lg) {
        color: #131313;
        font-size: 16px;
    }
}
.b-visual__deadline-text,
.b-visual__deadline-percent {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    @include media-breakpoint-down(lg) {
        color: #131313;
    }
}
.b-visual__marker {
    position: absolute;
    top: 0;
    background: #FFFFFF;
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #191919;
    padding: g(4);
}
.b-visual__marker-finish {
    display: none;
}
.b-visual__marker-finish {
    display: none;
}
.b-visual__markers {
    @include absolute_full;
    z-index: 30;
    pointer-events: none;
}

.b-visual__marker-wrapper {
    display: flex;
    align-items: center;
}

.b-visual__marker-ico {
    margin-right: g(5);
    fill: #3880C4;
}

.b-visual__deadline-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: g(6);
    gap : g(10);
}
.b-visual__deadline-wrapper-sale {
    display: flex;
    flex-direction: column;
    gap : g(5);
}

.b-visual__deadline-progress {
    height: 2px;
    background: rgba(#FFFFFF, 0.3);
    position: relative;
    &:before {
        content: '';
        @include absolute_full;
        background: #FFFFFF;
        width: calc(var(--percent) * 1%);
    }
    @include media-breakpoint-down(lg) {
        background: rgba(#3880C4, 0.3);
        &:before {
            background: #3880C4;
        }
    }
}
.b-visual__row-aparts {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    @include media-breakpoint-down(lg) {
        color: #131313;
    }
}
.b-visual__row-price {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    @include media-breakpoint-down(lg) {
        color: #131313;
    }
}
.b-visual__count-wrapper {
    display: flex;
    gap: g(4) g(6);
}
.b-visual__count {
    padding: g(5);
    background: #FFFFFF;
    border-radius: 33px;
    font-weight: 400;
    font-size: 15px;
    color: #191919;
    width: fit-content;
    @include media-breakpoint-down(lg) {
        border: 1px solid #3880C4;
    }
}
.b-visual__row {
    display: flex;
    flex-direction: column;
    gap: g(5);
}
.b-visual__row-item {
    display: flex;
    justify-content: space-between;
    gap: g(12);
}
.b-visual__count-key {
    font-size: 15px;
    color: #FFFFFF;
    width: fit-content;
    padding: g(4) g(6);
    background: #3880C4;
    border-radius: 66px;
    fill: #FFFFFF;
    display: flex;
    align-items: center;
    gap: g(5);
}
.b-visual__count-key-ico {
   display: flex;
    justify-content: center;
    align-items: center;
}

.b-visual__swipe-hand {
    display: none;
    position: absolute;
    top: g(10);
    left: g(10);
    width: g(12);
    height: g(12);
    z-index: 100000;
    fill: #FFFFFF;
    svg {
        width: 100%;
        height: 100%;
    }
    @include media-breakpoint-down(lg) {
        display: block;
    }
}
.b-visual__image-scroll {
    @include media-breakpoint-down(lg) {
        overflow-x: scroll;
    }
}
.b-visual__image-wrapper {
    position: relative;
    @include media-breakpoint-down(lg) {
        height: 70vh;
    }
    @include media-breakpoint-down(sm) {
        height: 50vh;
    }
}
.b-visual__btn-wrapper {
    display: flex;
    justify-content: center;align-items: center;
}
.b-visual__btn {
    padding: g(5) g(7);
    background: #3880C4;
    color: #FFFFFF;
}

